{
	email {$ACME_EMAIL}
}

{$SITE_DOMAIN} {
	encode zstd gzip

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
		-Server
	}

	handle_path /api/* {
		reverse_proxy backend:8080
	}

	handle /websocket {
		reverse_proxy backend:8080
	}

	handle {
		reverse_proxy blog:80
	}
}

{$ADMIN_DOMAIN} {
	encode zstd gzip

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
		-Server
	}

	handle_path /api/* {
		reverse_proxy backend:8080
	}

	handle {
		reverse_proxy admin:80
	}
}

